.main {
  padding-top: 102px;
  margin-bottom: 280px;

  @include respond(laptopM) {
    padding-top: 90px;
    margin-bottom: 120px;
  }

  .titleWrp {
    display: flex;
    align-items: end;
    margin-bottom: 200px;
    flex-wrap: wrap;

    @include respond(mobileL) {
      margin-bottom: 86px;
    }

    .title {
      @include mulish_1000_130;
      font-size: 100px;
      text-transform: uppercase;
      color: var(--gray_t);

      @include respond(laptopL) {
        font-size: 72px;
      }

      @include respond(mobileL) {
        font-size: 42px;
      }
    }

    .aavault {
      @include mulish_500_14;
      color: var(--gray);
      margin-right: 16px;
      margin-left: 16px;
      padding-bottom: 50px;

      @include respond(laptopL) {
        padding-bottom: 40px;
      }

      @include respond(mobileL) {
        @include mulish_500_10;
        padding-bottom: 18px;
        margin-right: 12px;
        margin-left: 12px;
      }

      @media only screen and (width <= 342px) {
        padding-bottom: 0px;
      }
    }

    .newWay {
      @include mulish_1000_130;
      text-transform: uppercase;
      @include gradientText;
      font-size: 100px;
      padding-right: 10px;

      @include respond(laptopL) {
        font-size: 72px;
      }

      @include respond(mobileL) {
        font-size: 43px;
      }
    }
  }

  .info {
    display: flex;
    justify-content: center;
    gap: 196px;
    margin-bottom: 164px;

    @include respond(laptopXL) {
      gap: 60px;
    }

    @include respond(laptopM) {
      flex-direction: column;
      gap: 32px;
    }

    @include respond(mobileL) {
      margin-bottom: 124px;
    }

    .content {
      @include mulish_500_24;
      color: var(--gray_2);

      @include respond(laptopM) {
        display: flex;
        justify-content: end;
      }

      @include respond(mobileL) {
        @include mulish_500_12;
      }
    }
  }

  .btn {
    width: max-content;

    svg {
      transform: rotate(180deg);
      width: 24px;
      height: 24px;
    }
  }
}
