.card {
  background: var(--bg_19_dynamic);
  border-radius: 8px;

  &.preseed {
    border-left: 5px solid #19f9d1;
  }

  &.private {
    border-left: 5px solid #19f99b;
  }

  &.liquidity {
    border-left: 5px solid #7cfb89;
  }

  &.eco {
    border-left: 5px solid #29d93b;
  }

  &.airdrop {
    border-left: 5px solid #0cb990;
  }

  &.advisers {
    border-left: 5px solid #07fa94;
  }

  &.partners {
    border-left: 5px solid #19f9f9;
  }

  &.team {
    border-left: 5px solid #1ff634;
  }

  .wrapper {
    padding: 10px 24px 10px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @include respond(mobile) {
    //   gap: 24px;
    // }

    .nameInfo {
      .name {
        @include mulish_600_18;
        color: var(--white);
        margin-bottom: 7px;

        @include respond(laptopM) {
          @include mulish_600_16;
        }

        @include respond(mobile) {
          @include mulish_600_14;
        }
      }

      .percent {
        @include mulish_700_16;

        @include respond(laptopM) {
          @include mulish_700_14;
        }

        @include respond(mobile) {
          @include mulish_600_12;
        }

        &.preseed {
          color: #19f9d1;
        }

        &.private {
          color: #19f99b;
        }

        &.liquidity {
          color: #7cfb89;
        }

        &.eco {
          color: #29d93b;
        }

        &.airdrop {
          color: #0cb990;
        }

        &.advisers {
          color: #07fa94;
        }

        &.partners {
          color: #19f9f9;
        }

        &.team {
          color: #1ff634;
        }
      }
    }

    .count {
      white-space: nowrap;
      @include mulish_500_18;
      color: var(--gray_2);

      @include respond(mobile) {
        @include mulish_600_14;
      }
    }
  }
}
