.aavaultSection {
  .wrapper {
    height: 2000px;

    .textWrapper {
      display: flex;
      justify-content: center;
      
      .text {
        text-transform: uppercase;
        @include mulish_1000_64;
        @include gradientText;
      }
    }
  }
}
