.faq {
  margin-bottom: 280px;

  @include respond(laptopM) {
    margin-bottom: 120px;
  }

  .header {
    display: grid;
    grid-template-columns: minmax(100px, 470px) 1fr;

    @media only screen and (width <= 1705px) {
      grid-template-columns: minmax(100px, 270px) 1fr;
    }

    @include respond(laptopXL) {
      grid-template-columns: 1fr;
    }

    .caption {
      @include mulish_500_14;
      color: var(--gray);
      text-transform: uppercase;
      padding-top: 10px;

      @include respond(laptopXL) {
        padding-top: 0px;
        margin-bottom: 12px;
      }
    }

    .title {
      @include mulish_1000_64;
      color: var(--gray_t);
      margin-bottom: 80px;
      max-width: 670px;
      text-transform: uppercase;

      @include respond(laptopM) {
        @include mulish_1000_28;
        margin-bottom: 36px;
      }

      span {
        text-transform: uppercase;
        // @include gradientText;
        color: var(--green-main);
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 446px));
    grid-template-rows: minmax(200px, 420px);
    gap: 20px;

    @include respond(laptop1200) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(200px, 420px) minmax(200px, 420px);
    }

    @include respond(laptopM) {
      display: none;
    }
  }

  .swiperBlock {
    display: none;

    @include respond(laptopM) {
      display: block;
    }

    .iconSwipe {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 36px;
    }
  }
}
