.interactiveBtn {
  display: flex;
  align-items: center;
  gap: 8px;

  .block {
    padding: 22px 48px;
    border-radius: 4px;
    border: 1px solid var(--gray);
    color: var(--white);
    @include mulish_700_24;
  }

  .btn {
    color: var(--white);
    padding: 24px;
    background: var(--gradient_green);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    svg {
      color: var(--white);
      @include transition;
    }

    &:hover {
      svg {
        color: var(--background-main);
      }
    }
  }
}
