.inputWrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  @include respond(laptopM) {
    gap: 12px;
  }

  .input {
    padding: 22px 28px;
    border-radius: 4px;
    border: 1px solid var(--gray);
    color: var(--white);
    @include mulish_500_24;
    width: 100%;
    background: var(--background-main);

    @include respond(laptopM) {
      @include mulish_600_16;
      padding: 15px;
    }
  }

  .btn {
    color: var(--white);
    padding: 24px;
    background: var(--gradient_green);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    @include respond(laptopM) {
      padding: 12px;
    }

    svg {
      color: var(--white);
      @include transition;
    }

    &:hover {
      svg {
        color: var(--background-main);
      }
    }
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.errorText {
  display: flex;
  align-items: center;
  gap: 10px;
}