.partners {
  margin-bottom: 280px;

  @include respond(laptopM) {
    margin-bottom: 120px;
  }

  .header {
    display: grid;
    grid-template-columns: minmax(100px, 470px) 1fr;

    @media only screen and (width <= 1705px) {
      grid-template-columns: minmax(100px, 270px) 1fr;
    }

    @include respond(laptopXL) {
      grid-template-columns: 1fr;
    }

    .caption {
      @include mulish_500_14;
      color: var(--gray);
      text-transform: uppercase;
      padding-top: 10px;

      @include respond(laptopXL) {
        padding-top: 0px;
        margin-bottom: 12px;
      }
    }

    .title {
      @include mulish_1000_64;
      color: var(--gray_t);
      margin-bottom: 80px;
      max-width: 670px;
      text-transform: uppercase;

      @include respond(laptopM) {
        @include mulish_1000_28;
        margin-bottom: 36px;
      }

      span {
        text-transform: uppercase;
        @include gradientText;
      }
    }
  }

  .wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(100px, 390px));
    gap: 80px 90px;

    @include respond(laptopXL) {
      gap: 24px;
    }

    @include respond(tabletS) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @media only screen and (width <= 372px) {
      grid-template-columns: 1fr;
    }

    .card {
      position: relative;
      padding: 32px;
      background-color: transparent;
      border: 1px solid var(--gray);
      border-radius: 12px;

      @include respond(laptop1200) {
        padding: 2px 20px;
      }

      @include respond(tabletS) {
        padding: 12px 40px;
      }

      @include respond(mobileL) {
        padding: 2px 20px;
      }

      @media only screen and (width <= 372px) {
        padding: 16px 36px;
      }

      .imageWrapper {
        position: relative;
        height: 96px;

        @include respond(laptopM) {
          height: 62px;
        }

        @media only screen and (width <= 372px) {
          height: 36px;
        }
      }
    }
  }
}
