.nativeCurrency {
  margin-bottom: 280px;

  .header {
    display: grid;
    grid-template-columns: minmax(100px, 470px) minmax(100px, 658px) minmax(100px, 629px);
    margin-bottom: 24px;

    .caption {
      @include mulish_500_14;
      color: var(--gray);
      text-transform: uppercase;
      padding-top: 10px;
    }

    .title {
      @include mulish_1000_64;
      color: var(--white);
      text-transform: uppercase;

      span {
        text-transform: uppercase;
        @include gradientText;
      }
    }

    .description {
      @include mulish_500_18;
      color: var(--gray_2);
    }
  }

  .content {
    padding-left: 480px;
    display: grid;
    grid-template-columns: minmax(100px, 524px) 1fr;
    gap: 180px;

    .list {
      max-height: 610px;
      overflow: scroll;
      @include noScrollBar;

      li {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
