.advantage {
  margin-bottom: 280px;

  @include respond(laptopM) {
    margin-bottom: 120px;
  }

  .titleWrapper {
    display: grid;
    grid-template-columns: minmax(100px, 454px) 1fr;

    @include respond(laptopXL) {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .caption {
      @include mulish_500_14;
      color: var(--gray);
      text-transform: uppercase;
      padding-top: 10px;

      @include respond(laptopXL) {
        padding-top: 0px;
      }
    }

    .title {
      @include mulish_1000_64;
      color: var(--white);
      margin-bottom: 80px;
      max-width: 940px;
      text-transform: uppercase;

      @include respond(laptopM) {
        @include mulish_1000_28;
        margin-bottom: 36px;
      }

      span {
        text-transform: uppercase;
        @include gradientText;
      }
    }
  }

  .wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(8, minmax(50px, 236px));
    grid-template-areas:
      '. . uniq uniq uniq multi multi multi'
      'rapid rapid rapid tools tools tools tools tools';

    @include respond(laptopXL) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'uniq multi'
        'rapid tools';
    }

    @include respond(tablet) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'uniq'
        'multi'
        'rapid'
        'tools';
    }

    .card {
      border-radius: 8px;
      border: 1px solid var(--gray_3);

      .cardWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 36px;
        height: 100%;

        @include respond(tablet) {
          padding: 20px;
        }

        .cardTitle {
          @include mulish_1000_32;
          color: var(--white);
          margin-bottom: 16px;
          text-transform: uppercase;

          @include respond(tablet) {
            @include mulish_1000_20;
          }
        }

        .cardDescription {
          @include mulish_500_18;
          color: var(--gray_2);
          margin-bottom: 32px;
          max-width: 520px;

          @include respond(tablet) {
            @include mulish_500_16;
          }
        }

        .imageDesktop {
          position: relative;
          height: 371px;

          @include respond(mobileL) {
            display: none;
          }
        }

        .imageTablet {
          position: relative;
          display: none;
          
          @include respond(mobileL) {
            display: block;
            height: 252px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
