:root {
  --background-main: #090909;
  --white: #ffffff;
  --black_12: #121212;
  --bg_19: #191919;
  --gray: #828282;
  --gray_2: #CFCED8;
  --gray_3: #333333;
  --gray_4: #949494;
  --gray_5: #D9D9D9;
  --gray_6: #515151;

  --gray_t: #E9E9E9;

  --green: #29D93B;

  --gradient_green: linear-gradient(78.65deg, rgba(25, 249, 195, 0.95) 8.37%, #29D93B 86.44%);
}
