:root {
  --background-main: #090909;

  --white-stable: #ffffff;
  --white-dynamic: #ffffff;

  --black_12: #121212;
  --bg_19: #191919;

  --gray: #828282;
  --gray_2: #cfced8;
  --gray_3: #333333;
  --gray_4: #949494;
  --gray_5: #d9d9d9;
  --gray_6: #515151;

  --gray_t: #e9e9e9;

  --green-main: #1B7F4E;

  &.light {
    --background-main: #f3f3f3;
    
    --white-stable: #ffffff; 
    --white-dynamic: #121212;

    --black_12: #121212;
    --bg_19: #191919;

    --gray: #121212;
    --gray_t: #121212;
    --gray_2: #121212;
    --gray_5: #121212;

    --green-main: #83C29B;
  }
}
