.card {
  border: 1px solid var(--gray_3);
  border-radius: 8px;

  @include respond(laptopM) {
    min-height: 360px;
    height: 100%;
  }

  .wrapper {
    height: 100%;
    min-height: 420px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(laptopM) {
      min-height: 360px;
    }

    .id {
      @include mulish_500_14;
      color: var(--gray_4);
      display: flex;
      justify-content: end;
    }

    .content {
      .question {
        @include mulish_1000_32;
        color: var(--white);
      }

      .answer {
        @include mulish_500_18;
        padding-top: 16px;
        color: var(--gray_5);

        @include respond(mobile) {
          width: 265px;
        }
      }
    }
  }
}
